#color_border{
  display: none;
}
#estilo_border{
  display:none;
}
#ancho_border{
  display:none;
}
#redondos{
  display:none;
}
#elipses{
  display:none;
}
#botones{
}
#solucion{
  overflow: hidden;
}
