/* Comenzamos la hoja de estilo de nuestra web */
body{
    margin:0 auto;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('assets/images/html5rocks.jpg') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
.portada{

    /background-size:cover;
    background-repeat: no-repeat;
    background-image: url('../images/valencia.jpg');
    /*position: relative;*/
    background-attachment: fixed;
    //*align-items: center;*/
    display: flex;
    justify-content: center;
    height:100vh;
    width:100vw;
    filter:grayscale(60%);
}

.portada .logo{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:space-between;
    animation:appear 3s linear;
}

.portada .logo span{
    font-family: 'Indie Flower', cursive;
    font-size:3rem;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    align-items:flex-end;
    color:#00bfff;
    position: relative;
}

.icon{
    margin-left:-1em;
    position:relative;
    animation: arrow 4s infinite;
}

#logo{
    width:200px;
    height:200px;
}

#slide{
    position: relative;
    top:50px;
    width:100px;
    height:100px;

}

.menu{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;;
    align-items:center;
    height:60vh;
    list-style:none;
}
.menu li a{
    font-family: 'Roboto', sans-serif;
    width:150px;
    height:50px;
    color:darkgreen;
    margin:15px;
    display:inline-block;
    float:left;
    font-size: 1.5rem;
    border: 3px double green;
    border-radius: 130px;
    padding: 70px 20px;
    text-align:center;
}

.menu li:hover a{
    background:seagreen;
}

.menu li a{
    text-decoration:none;
    color:darkgreen;
}
.menu li:nth-child(4) a{
        margin-left:-8px;
    }
.menu li:hover a{
    animation:escalable_nav 1s infinite;
}
.menu:nth-child(1){
    animation:appear 5s linear;
}
.menu:nth-child(2){
    animation:appear 6s linear;
}
.menu:nth-child(3){
    animation:appear 7s linear;
}
.menu:nth-child(4){
    animation:appear 8s linear;
}
.menu:nth-child(5){
    animation:appear 9s linear;
}
.copy{
    position:absolute;
    top:95%;
    font-family:'verdana';
    marquee-loop:infinite;
    marquee-speed:normal;
    marquee-style:scroll;
}

/* ANIMACIONES CSS */
/* retardo de aparecer los elementos */
@keyframes appear{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
/* flecha del logo */
@keyframes arrow{
    0%{
        left:0px;
    }
    100%{
        left:50px;
    }
}
/* cambio tamaño del nav */
@keyframes escalable_nav{
    0%{
        font-size: 1.5rem;
    }
    100%{
        font-size: 1.65rem;
        font-weight:bold;
        text-shadow:5px 2px 4px darkgreen;
    }
}

/* RESPONSIVE */
@media screen and (max-width:1150px){
    .icon{
        animation:none;
        opacity:0;
    }
}
@media screen and (max-width:1000px){
    .portada{
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9e4f7+0,0fb4e7+100;Ble+3D+%235 */
        background: #a9e4f7; /* Old browsers */
        background: -moz-linear-gradient(top, #a9e4f7 0%, #0fb4e7 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #a9e4f7 0%,#0fb4e7 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #a9e4f7 0%,#0fb4e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */
    }
    #nick{
        position:absolute;
        display: none;
    }
    .menu{
        flex-wrap: wrap;
    }
    .copy{
        display:none;
    }
    #logo{
        display: none;
    }
    #slide{
        top:20px;
    }
    .menu li a{
        font-family: 'Roboto', sans-serif;
        width:95px;
        height:25px;
        color:darkgreen;
        margin:9px;
        display:inline-block;
        float:left;
        font-size: 1.0rem;
        border: 3px double green;
        border-radius: 130px;
        padding: 40px 10px;
        text-align:center;
}

    .menu li:hover a{
        animation:none;

    }
}
/*

@media screen and (max-height:720px){
    .portada{
      background:linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
      background-size:auto;
      height:100%;
      width:100%;
    }
}
*/
