/* Comenzamos la hoja de estilo de nuestra web */
body{
    margin:0 auto;
}
.portada{
    
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url('../images/valencia.jpg');
    /*position: relative;*/
    background-attachment: fixed;
    //*align-items: center;*/ 
    display: flex;
    justify-content: center;
    height:100vh;
    width:100vw;
    filter:grayscale(60%);
}

.portada .logo{
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    justify-content:space-between;
    animation:appear 3s linear;  
}

.portada .logo span{
    font-family: 'Indie Flower', cursive;
    font-size:3rem;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    align-items:flex-end;
    color:#00bfff;
    position: relative;
}

.icon{
    margin-left:-1em;
    position:relative;
    animation: arrow 4s infinite;
}

#logo{
    width:200px;
    height:200px;
}

#slide{
    position: relative;
    top:50px;
    width:100px;
    height:100px;
    
}

.menu{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;;
    align-items:flex-end;
    height:60vh;
    list-style:none;
}
.menu li a{
    font-family: 'Roboto', sans-serif;
    width:150px;
    height:50px;
    color:darkgreen;
    margin:15px;
    display:inline-block;
    float:left;
    font-size: 1.5rem;
    border: 3px double green;
    border-radius: 130px;
    padding: 70px 20px;
    text-align:center;
}

.menu li:hover a{
    background:seagreen;
}

.menu li a{
    text-decoration:none;
    color:darkgreen;
}
.menu li:nth-child(4) a{
        margin-left:-8px;
    }
.menu li:hover a{
    animation:escalable_nav 1s infinite;
}
.menu:nth-child(1){
    animation:appear 5s linear;
}
.menu:nth-child(2){
    animation:appear 6s linear;
}
.menu:nth-child(3){
    animation:appear 7s linear;
}
.menu:nth-child(4){
    animation:appear 8s linear;
}
.menu:nth-child(5){
    animation:appear 9s linear;
}
.copy{
    position:absolute;
    top:95%;
    font-family:'verdana';
    marquee-loop:infinite;
    marquee-speed:normal;
    marquee-style:scroll;
}

/* ANIMACIONES CSS */
/* retardo de aparecer los elementos */
@keyframes appear{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
/* flecha del logo */
@keyframes arrow{
    0%{
        left:0px;
    }
    100%{
        left:50px;
    }
}
/* cambio tamaño del nav */
@keyframes escalable_nav{
    0%{
        font-size: 1.5rem;
    }
    100%{
        font-size: 1.65rem;
        font-weight:bold;
        text-shadow:5px 2px 4px darkgreen;
    }
}

/* RESPONSIVE */
@media screen and (max-width:1150px){
    .icon{
        animation:none;
        opacity:0;
    }
}
@media screen and (max-width:1000px){
    
    #nick{
        position:absolute;
        display: none;
    }
    .menu{
        flex-wrap: nowrap;
    }
    .copy{
        display:none;
    }
    #logo{
        display: none;
    }
    #slide{
        top:20px;
    }
    .menu li a{
        font-family: 'Roboto', sans-serif;
        width:75px;
        height:25px;
        color:darkgreen;
        margin:9px;
        display:inline-block;
        float:left;
        font-size: 1.0rem;
        border: 3px double green;
        border-radius: 130px;
        padding: 40px 10px;
        text-align:center;
}
    .menu li:nth-child(4)  a{
        font-family: 'Roboto', sans-serif;
        width:95px;
        height:25px;
        color:darkgreen;
        margin:9px;
        display:inline-block;
        float:left;
        font-size: 1.0rem;
        border: 3px double green;
        border-radius: 130px;
        padding: 40px 10px;
        text-align:center;
}
    .menu li:hover a{
        animation:none;
        
    }
}
@media screen and (max-width:520px){
    body{
        background:lightgrey;
    }
    .portada{
        height:100%;
        width:100%;
        background:lightgrey;
    }
    .menu li a{
        width:50px;
        height:10px;
        margin:5px;
        font-size: 0.5rem;
        border: 3px double green;
        border-radius: 120px;
        padding: 28px 10px;
        font-weight:bold;
        text-shadow:5px 2px 4px darkgreen;
    }
    .menu li:hover a{
        animation:none;
    }
    .menu li:nth-child(4) a{
        padding-right:15px!important;
        margin-left:0px !important;
    }
    
    
}