
.background-position{
    border:solid thin black;
    margin: 10px;
    padding: 10px;

}
#medida_filter{
  display:flex;
  flex-direction:column;

}
input[type=button],input[type=reset]{
  color:#006699;
  line-height:2em;
  background-color:rgba(255, 204, 204, 0.7);
  border-radius:15px;
  padding:0 15px 0 5px;
  width:200px;
  border:solid thin black;
}
input[type=button]:hover,input[type=reset]:hover{
  border:solid 2px black;
  box-shadow:2px 2px 15px black;
  cursor:pointer;
}
label input[type=number]{
  width:70px;
  position:absolute;
  right:10px;
  border-radius : 5%;
  margin:0px;
  padding:0px;
  font-size:1em;
}
label{
  font-size:2em;
}
ul li{
  list-style : none;
}
li{
  padding-bottom:1.2rem;
}
input[type='radio']{
  display:none;
}
input[type=radio]+label{
  color:#606060   ;
  padding:7px 5px 2px 51px;
  display:inline-block;
  position:relative;
  font-size:1em;
  border-radius:3px;
  cursor:pointer;
  /* se puede añadir transiciones
  transition: all 0.3s ease; */
}
input[type=radio]+label:hover{
  text-shadow: 2px 2px 8px #FF0000;
}
input[type=radio]+label:before{
  content:'';
  width:17px;
  height:17px;
  display:inline-block;
  background:none;
  border:solid 3px;
  border-radius:50%;
  position:absolute;
  left:17px;
  top:4px;
}
input[type=radio]+label:after{
  content:'';
  width:17px;
  height:17px;
  display:inline-block;
  border:solid 3px;
  border-radius:50%;
  position:absolute;
  left:17px;
  top:4px;
}

input[type='radio']:checked + label{
  color:#006699;
}
input[type='radio']:checked + label:before{
  color:#006699;
}
input[type='radio']:checked + label:after{
  content:'';
  background:#006699;
}
.enunciado{
  text-align:center;
  padding-left:10%;
  color:black !important;
  text-decoration : underline !important;
}
.valores{
  padding-left:5%;
}
#color_border,#estilo_border,#ancho_border,#redondos,#elipses,#medida_filter{
  background:rgba(255, 204, 204, 0.7);
  position:relative;
}
input[type=color],select[name=estiloFour],select[name=estiloAll],select[name=fontfamily],select[name=stretch],select[name=variant],
select[name=fontstyle],select[name=fontweight],select[name=clave],select[name=px]{
  position:absolute;
  right:20px;
  border-radius : 5%;
  margin:0;
  padding:0;
}

  
input[name=widthAll],input[name=widthFour],input[name=radioFour],
input[name=radioAll],input[name=elipStyle]{
  margin-left:30%;
}
.opacitable{
  opacity:0.2;
}
select option:first-of-type{
  color:lightgrey;
}
select:focus{
  outline: none;
}
input[type=reset]:focus,input[type=button]:focus{
  outline:none;
}

/* popup de alerta si no se introducen los datos que se requieren*/
#popup{
  background-color:coral;
  border:solid thin black;
  color:DarkOliveGreen ;
  position:absolute;
  height:20%;
  width:60vw;
  top:30vh;
  left:15vw;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:2em;
  z-index:2;
  display:none;
}
#popup div p{
  margin:20px 10px 10px 10px;
}
#boton_popup{
  //display:inline-block;
  border:solid thin blue;
  border-radius:10px;
  text-align:center;
  width:80px;
  height:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  left:40%;
  color:darkblue;
  background:lightblue;
  font-size:1em;
  padding-left:20px;
}
#boton_popup:hover{
  cursor:pointer;
}
.close{
  z-index:3;
}
#close{
  position:absolute;
  top:-5%;
  right:0.5%;
}
#close:hover{
  cursor:pointer;
}
@media screen and (max-width:850px){
  #popup{
    height:30%;
    width:70%;
  }
  #boton_popup{
    width:60px;
    height:40px;
    font-size:.8em;
  }

}
#seleccion_fontsize{
  border:solid thin black;
  padding: 10px 0;
}
label[for='valor_fontsize']{
  margin:20px !important;
}
label[for='valor_fontsize'] + input{
  float:right;
  margin-left:40px !important;
  margin-top:10px !important;
  margin-bottom:0px !important;
  padding-right: 10px;

}

/*
.animation{
  animation-name:popup;
  animation-duration:4s;
  animation-timing-function:ease-in-out;

}

@keyframes popup{
  from
  { top:-35%;left:25%}
  to
  { top:20%;left:25%}
}
#close{
  position:absolute;
  top:-5%;
  right:0.5%;
}
#close:hover{
  cursor:pointer;
}
